version: '3.7'

services:
  traefik:
    container_name: ${COMPOSE_PROJECT_NAME}_${SERVICE_NAME}_${GS_ENV}
    image: ${DOCKER_IMAGE_REGISTRY:-}${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}-${GS_ENV}
    restart: ${DOCKER_RESTART_POLICY}
    build:
      context: ./
      args:
        - DOCKER_BASE_IMAGE    
    init: true   
    env_file:
      - ${DOCKER_GENERATED_ENV_FILE:-./env/defaults}    
    ports:
      - ${TRAEFIK_HTTP_PORT}:80
      - ${TRAEFIK_HTTPS_PORT}:443
    networks:
      frontend:
        aliases: 
          - ${SERVICE_NAME}      
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: ${DOCKER_LOGGING_DRIVER}
      options:
        max-file: ${DOCKER_LOGGING_MAX_FILE}
        max-size: ${DOCKER_LOGGING_MAX_SIZE}
    labels:
      - traefik.enable=${PROXY_ROUTER_ENABLE}
      - traefik.docker.network=${DOCKER_FRONTEND_NETWORK_NAME}

networks:
  frontend:
    name: ${DOCKER_FRONTEND_NETWORK_NAME}  
